#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px  30px;
    color: #0a0a85;
}
#header ul {
    display: flex;
}
#header li {
    margin-left: 30px;
}
.site-title {
    font-size: 25px;
}
a {
    text-decoration: none;
    color:#0a0a85;
    font-weight: bold;
}
.relative__box{
    max-width: 700px;
    height: 700px;
    position: relative;
    background-color:(253, 253, 253);
}
.absolute__blue-box {
    position: absolute;
    top: 450px;
    width: 80vw;
    height: 200px;
    background-color: #0a0a85;
}
.absolute__img {
    position: absolute;
    bottom: 150px;
    left: 50vw;
}
img {
    width: 50vw;
    height: 500px;
}
.absolute__text {
    position: absolute;
    top: 380px;
    font-size: 70px;
}
